@import "../../styles/constants";


.about-page-container {

  .page-section {
    margin-bottom: 4rem;

    .section-title {
      width: 100%;
      margin: 0;
      font: 4rem/1.4 'Lato-Bold', sans-serif;
      color: $text-color-primary;
    }

    .section-main {
      margin-top: 2rem;
      font: 2.2rem/1.5 'Crimson-Text', serif;
      color: $text-color-secondary;
    }
  }
}
